# To ignore a directory, append a / at the end
# Example: videos/
# To ignore a file or directory without a specific pattern, don't append a /
# Example: .venv*
.venv*
videos/
*.log
VC3_CLIENT_SPECIFIC/


